body { font-size: 12px; font-family: tahoma,arial; background: #081F48 url(../images/lake_bg.png) repeat-x; }

.iland { height: 221px; margin: 0 auto; margin-top: 20px; background: url(../images/iland.png) no-repeat; }
.single_top { overflow: hidden; zoom: 1; background: #CCE9EF; padding-bottom: 10px; }
.single_top .single_t1 { float: left; width: 118px; height: 27px; margin-left: 30px; margin-top: 80px; background: url(../images/single_t1.png) no-repeat; }
.single_top .single_intro { float: left; width: 800px; margin-top: 30px; margin-left: 30px; margin-bottom: 20px; line-height: 1.8; font-size: 14px; font-weight: 600; color: #65778C; }
.single_top .price { float: left; width: 120px; height: 55px; color: #666; font-size: 14px; font-weight: 600; text-align: right; }
.single_top .price span { color: #D00406; font-size: 26px; }
.single_top .price b { text-decoration:line-through; }
.single_top .buy { float: left; width: 223px; height: 21px; margin: 0 15px; padding: 34px 0 0 18px; font-size: 12px; color: #FFF; font-weight: 600; background: url(../images/single_btn.png) no-repeat; text-decoration: none; }
.single_bottom { height: 25px; background: url(../images/single_buttom.png) no-repeat; }
.single_bottom2 { height: 40px; background: url(../images/single_buttom2.png) no-repeat; }