body { font-size: 12px; font-family: tahoma,arial; background: #081F48 url(../images/lake_bg.png) repeat-x; }
html { }

.iland { width: 1000px; height: 221px; margin: 0 auto; margin-top: 50px; background: url(../images/iland.png) no-repeat; }


